# Secrets & Environment
# .env
.env.*
!.env.example
*.env

# Python & Django Runtime
__pycache__/
*.py[cod]
*.pyo
# db.sqlite3
media/
staticfiles/
*.log

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Virtual Environments
venv/
.venv/
env/

# Excel / Local Zips / Temporary
*.xlsx
*.zip
project_structure.txt

# Scratch / Debug
scratch/
*_debug.txt

# Vector DB
vector_db/
