# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store